__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/
ENV/
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/
.coverage
.coverage.*
htmlcov/
.ipynb_checkpoints/
.env
